<div class='mt-4'>
    <h3>Course detail</h3>

    <form method='POST' action='/courses/{{course._id}}?_method=PUT'>
        <div class='mb-3'>
            <label for='name' class='form-label'>Course name:
            </label>
            <input
                type='text'
                class='form-control'
                value='{{course.name}}'
                id='name'
                name='name'
            />
        </div>
        <div class='mb-3'>
            <label for='description' class='form-label'>Course description:
            </label>
            <textarea
                class='form-control p-2'
                id='description'
                name='description'
                rows='3'
            >{{course.description}}
            </textarea>
        </div>
        <div class='mb-3'>
            <label for='video' class='form-label'>Course video:
            </label>
            <input
                type='text'
                class='form-control'
                value='{{course.video}}'
                id='video'
                name='video'
            />
        </div>
        <div class='mb-3'>
            <label for='level' class='form-label'>Course level:
            </label>
            <input
                type='text'
                class='form-control'
                value='{{course.level}}'
                id='level'
                name='level'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Save Course</button>
    </form>
</div>